<div  id="main-window" class="frame sig-gradient-white">
  <banner></banner>
  <div class="sig-controls">
    <a [routerLink]="['/']">status</a> <a [routerLink]="['/hello']">hello</a>
  </div>
  <!--<feed></feed>-->
  <div class="sig-body">
    <!--<img src="assets/images/bell-icon.png" class="sig-action" alt="alert" title="alert" />-->
    <div class="sig-card-container">
      <div class="sig-card">Hello, world! foo bar baz foo bar baz foo bar baz foo bar baz foo bar baz foo bar baz foo bar baz foo bar baz.</div>
      <div class="sig-card">Hello, world! foo bar baz foo bar baz foo bar baz foo bar baz foo bar baz foo bar baz foo bar baz foo bar baz.</div>
      <div class="sig-card">Hello, world! foo bar baz foo bar baz foo bar baz foo bar baz foo bar baz foo bar baz foo bar baz foo bar baz.</div>
      <div class="sig-card">Hello, world! foo bar baz foo bar baz foo bar baz foo bar baz foo bar baz foo bar baz foo bar baz foo bar baz.</div>
      <div class="sig-card">Hello, world! foo bar baz foo bar baz foo bar baz foo bar baz foo bar baz foo bar baz foo bar baz foo bar baz.</div>
      <div class="sig-card">Hello, world! foo bar baz foo bar baz foo bar baz foo bar baz foo bar baz foo bar baz foo bar baz foo bar baz.</div>
      <div class="sig-card">Hello, world! foo bar baz foo bar baz foo bar baz foo bar baz foo bar baz foo bar baz foo bar baz foo bar baz.</div>
    </div>
  </div> 
</div>

